@font-face {
    font-family: 'SF Pro Display';
    src: url('./font/Sf Pro Display/SFProDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('./font/Sf Pro Display/SFProDisplay-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}


:root {
    --accent: #2A2F45;
    --font-disable: #8A91AB;
}

* {
    font-family: "SF Pro Display", sans-serif;
}

body {
    background: #161B30;
}

.v-main {
    background: #161B30
}

.header {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.header__nav {
    font-size: 14px;
    font-weight: 400;
}

.header .header__nav-link {
    color: var(--font-disable);
    padding: 0 23px;
}

.header .header__nav-link--active {
    color: white;
}

.header__nav-icon {
    margin-right: 10px;
}

.home {
    padding-top: 80px;
}

.home__input .theme--dark.v-label {
    color: var(--font-disable);
}